.nav-link{
    color:#ffffff !important;
}
.nav-link:hover{
    color:rgb(38, 0, 255) !important;
}
.nav-item{
    margin: 0px 10px  ;
}
.navbar{
    background-color: #909090 !important;
}
body{
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}