<html>
    {% extends "base.html" %}
    {% block title %}
    <style>
       .row{
        margin-top: 200px;
       } 
    </style>
    {% endblock %}
    {% block content %}
    <div class="container-fluid div">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
              <form method="post">
                {% csrf_token %}
                <h1 class="text-center">Are you want to delete this blog </h1>
                <div class="text-center"><button class="btn btn-danger text-light">submit</button></div>
                <h1>If you dont want to delete this then press <a class="text-primary" href="{% url 'list' %}" style="text-decoration:none ;">Back</a></h1>
              </form>
            </div>
        </div>
    </div>
   
    {% endblock %}
</html>