{% extends "base.html" %}

{% block content %}
<div class="container-fluid ">
    <div class="row justify-content-center background-radial-gradient">
        <div class="col-6  pt-5 shadow-lg ">
           
      <h3 class="text-center">{{object.blog_title}}</h3>

        <div class="ps-5 mb-5">
            {{object.blog_text}}
        </div>
            <div class="text-center mb-3"><button class=" btn btn-light btn-outline-primary"><a class="text-dark" href="{% url 'list' %}" style="text-decoration: none;">back</a></button></div>
        </div>
      
    </div>
  </div>
  
{% endblock %}