{% extends "base.html" %}

{% block title %}
<title>Change password</title>
<style>
    .row{
  margin-top: 150px;
  
    }
    .col-6{
      background-color: #b4b4b4;
      border-radius: 10px !important;
    }
  </style>
{% endblock %}


{% block content %}


<form method="post">
    <div class="container-fluid ">
        <div class="row justify-content-center background-radial-gradient">
            <div class="col-6  pt-5 shadow-lg">
               <form method="post">
                
                {% for field in form %}
           

                 <label class="text-capitalize mb-2" for="{{field.id_for_label}}">{{field.html_name}} </label><br>
                  <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{field.html_name}}" placeholder="enter {{field.html_name}}" type="password" autocomplete="on"/> 
                 <div><p class="text-primary">{{ field.errors }}</p> </div>
            
            {% endfor %}
                
                <div class="text-center mb-3"><button class=" btn btn-outline-primary">submit</button></div>
            </div>
          
        </div>
      </div>
{% endblock %}